# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env

# IDE
.idea/
.vscode/
*.swp

# Testing
.pytest_cache/
.coverage
#htmlcov/  # временно закомментировано для сдачи курсовой

# Project specific
data/*.json
!data/.gitkeep

# Poetry
poetry.lock